[Unit]
Description=Reflicate

[Service]
Type=oneshot
ExecStart=/bin/sh -c '~/.cargo/bin/reflicate -q -i ~/.cache/reflicate.cdb ~'
Nice=19
IOSchedulingClass=idle
